
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import url('https://unpkg.com/leaflet/dist/leaflet.css');


@custom-variant dark (&:where(.dark, .dark *));

*{
   font-family: "Manrope", sans-serif;
   font-weight: 500;
}


@theme {
  --color-primary: #645391;
  --color-secondary: #A1E1DE;
  --color-accent: #EAB7A1;
  
  --color-primary-dark: #A1E1DE;
  --color-secondary-dark: #EAB7A1;
  --color-accent-dark: #645391;
}

* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}


button, 
a, 
[role="button"],
input[type="submit"],
input[type="button"],
.selectable {
  cursor: pointer !important;
}


button:hover, 
a:hover,
[role="button"]:hover {
  cursor: pointer !important;
}


button:disabled,
[role="button"]:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}


input:not([type="button"]):not([type="submit"]):not([type="reset"]),
textarea,
select {
  cursor: text !important;
}


::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #645391;
  border-radius: 4px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #52447a;
  cursor: pointer;
}

.dark ::-webkit-scrollbar-track {
  background: #374151;
}

.dark ::-webkit-scrollbar-thumb {
  background: #A1E1DE;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #88d2ce;
}
